<div>
    <div>
        <div>
            <h3> Add user </h3>
        </div>
        <form class="form-horizontal" name="newUserForm">
            <div class="form-group">
                <label for="fname" class="col-sm-5 control-label"><strong>First name</strong></label>
                <div class="col-sm-4">
                    <input type="text" ng-pattern="/^(\D)+$/" class="form-control" id="fname" name="fname"
                           placeholder="First name" required ng-model="user.firstName">
                    <div ng-messages="newUserForm.fname.$error" ng-show="newUserForm.fname.$touched">
                        <div ng-message="required">
                            <span class="hasError">  First name is required </span>
                        </div>
                        <div ng-message="pattern">
                            <span class="hasError"> Letters only </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="lname" class="col-sm-5 control-label"><strong>Last name</strong></label>
                <div class="col-sm-4">
                    <input type="text" ng-pattern="/^(\D)+$/" class="form-control" id="lname" name="lname"
                           placeholder="Last name" required ng-model="user.lastName">
                    <div ng-messages="newUserForm.lname.$error" ng-show="newUserForm.lname.$touched">
                        <div ng-message="required">
                            <span class="hasError">  Last name is required </span>
                        </div>
                        <div ng-message="pattern">
                            <span class="hasError"> Letters only </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="mail" class="col-sm-5 control-label"><strong>Email</strong></label>
                <div class="col-sm-4">
                    <input type="email" ng-pattern="email" class="form-control" id="mail" name="email"
                           placeholder="Email" required ng-model="user.email">
                    <div ng-messages="newUserForm.email.$error" ng-show="newUserForm.email.$touched">
                        <div ng-message="required">
                            <span class="hasError">  Email is required </span>
                        </div>
                        <div ng-message="pattern">
                            <span class="hasError"> Email invalid </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-5 control-label"><strong>Password</strong></label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password" required ng-model="user.password">
                    <div ng-messages="newUserForm.password.$error" ng-show="newUserForm.password.$touched">
                        <div ng-message="required">
                            <span class="hasError">  Password is required </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-sm-5 control-label"><strong>Confirm
                    password</strong></label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Password" required ng-model="newUserForm.user.confirmPassword"
                           compare-to="user.password">
                    <div ng-messages="newUserForm.confirmPassword.$error" ng-show="newUserForm.confirmPassword.$touched">
                        <div ng-message="required">
                            <span class="hasError">  Password is required </span>
                        </div>
                        <div ng-message="compareTo">
                            <span class="hasError">  Passwords do not match </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="hasAdminRights" class="col-sm-5 control-label"><strong>Has
                    admin rights</strong></label>
                <div class="checkbox col-sm-4">
                    <input type="checkbox" id="hasAdminRights" name="hasAdminRights" ng-model="user.hasAdminRights">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary col-lg-offset-8" ng-click="addUser(user);" ng-disabled="newUserForm.$invalid">
                    Add user
                </button>
            </div>
        </form>
    </div>
</div>