<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <div class="collapse navbar-collapse col-lg-12" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="login">Login</a></li>
                <li><a ui-sref="addUser">Add user</a></li>
                <li><a ui-sref="users">Users</a></li>
                <li><a ui-sref="profile">Profile</a> </li>
            </ul>

        </div>
        <a class="nav navbar-nav navbar-right">
            <button type="submit" class="btn btn-primary" ng-click="logOut()">Log out</button>
        </a>
    </div>
</nav>