<div class="text-center">
    <div>
        <div>
            <h3>Login</h3>
        </div>
        <div align="center">
            <form>
                <div class="form-group col-lg-offset-4 col-lg-4">
                    <input type="text" ng-change="hasError = false" placeholder="Username email" class="form-control "
                           required ng-model="user.email">
                </div>
                <div class="form-group col-lg-offset-4 col-lg-4">
                    <input type="password" ng-change="hasError = false" placeholder="Password" class="form-control"
                           required ng-model="user.password">
                </div>
                <div class="form-group col-lg-offset-4 col-lg-4 hasError" ng-if="hasError">
                    User or password incorrect!
                </div>
                <div class="form-group col-lg-offset-4 col-lg-4 ">
                    <button type="submit" class="btn btn-primary" ng-click="login(user)">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
