<div class="text-center">
    <div>
        <div>
            <h3> Profile </h3>
        </div>
        <span class="hasError">{{view_error}}</span>
        <div class="box">
            <div class="box-content">
                <div class="row">
                    <div><strong>First name</strong></div>
                    <div ng-hide="editMode">{{user.firstName}}</div>
                    <div class="form-group" ng-show="editMode">
                        <input type="text" ng-model="editedUser.firstName">
                    </div>
                </div>
                <div class="row">
                    <div><strong>Last name</strong></div>
                    <div ng-hide="editMode">{{user.lastName}}</div>
                    <div class="form-group" ng-show="editMode">
                        <input type="text" ng-model="editedUser.lastName">
                    </div>
                </div>
                <div class="row" ng-show="editMode">
                    <div><strong>Password</strong></div>
                    <div class="form-group">
                        <input type="text" ng-model="editedUser.password">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-hide="editMode" ng-click="editMode = true">Edit Information
        </button>
        <button type="submit" class="btn btn-primary" ng-show="editMode" ng-click="editMode = false; editUser(editedUser);">Save Information
        </button>
        <button type="submit" class="btn btn-primary" ng-show="editMode" ng-click="editMode = false;">Cancel
        </button>
    </div>
</div>